*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}


body{
    font-family:sans-serif;
    background-color: #6161ce;
    color: #0b0b4d;
    overflow: hidden;
}

.head_1{
    height: 6rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.head_1 h1{
    font-size: 3.5rem;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
}

.container div{

    width: 35rem;
    height: 25rem;
    margin: 10rem 0rem;
    border-radius: 2rem;
    border: 6px dotted #0b0b4d;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}


